


.todo-home{
  color: red;
  font-size: larger;
  font-family: 'Courier New', Courier, monospace;
  margin: 50px;
float: inline-start;
text-decoration: solid;

  
}
/* .todo-nav{
  display: block;
} */